@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}

.signal-line {
  --rotation: 90deg;
  @apply h-[20px] w-[1.5px] bg-gradient-to-t md:h-[1.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
  background-color: hsla(0, 0%, 100%, 0.1);
  background-image: linear-gradient(var(--rotation),
      rgba(255, 255, 255, 0) 50%,
      #bfdbfe 50%,
      rgba(255, 255, 255, 0) 70%);
  background-size: 400% 400%;
}

@media (max-width: 767px) {
  .signal-line {
    --rotation: 0deg;
  }
}

.reviews-slider:hover {
  animation-play-state: paused;
}

.reviews-slide {
  animation: slide 120s linear infinite
}

@keyframes slide {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - 32px))
  }
}

:root {
  --card-color: rgba(17, 24, 39, 0.9);
}

#cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(3, 7, 18, 0.1);
  border-radius: 10px;
  display: flex;
  height: 320px;
  flex-direction: column;
  position: relative;
  width: 320px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(249, 250, 251, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}